/**
 * Created by invader on 06.07.16.
 */

.partners {
  padding: 2em 0;
  background: #4fd2c2;
  position: relative;
  text-align: center;

  & > div {
    margin: 0 auto;
  }

  & .partner {
    margin-bottom: 0;

    & img {
      border: 0;
      vertical-align: middle;
    }
  }
}